#board{
    background: #cccccc;
    width: 800px;
    height: 400px;
    padding: 24px;
    margin: 0px auto;
}
#board > div {
    background:url("stažený soubor.jpg") ;
    width: 71px;
    height: 71px;
    float: left;  //fuj
    margin: 10px;
    padding: 20px;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
}
